@mixin btn {
    padding: 13px 38px;
    border-radius: 100px;
}

@mixin btn-sp {
    padding: 20px 25px;
    border-radius: 100%;
}

@mixin card {
    padding: 40px 11px 20px 11px;
    border-radius: 50px;
    line-height: 30px;
}